<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Local Bites</a>
        <nav>
            <ul>
                <li>
                    <a href = "#" routerLink="/home-page">Home</a>
                    <a href = "#" routerLink="/search-page">Search</a>
                    <a href = "#" routerLink="/offers-page">Offers</a>
                    <a href = "#" routerLink="/cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
