.restaurant-reg {
    padding-top: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.reg-btn {
    padding: 8px 12px;
    width: 100px;
    height: 100px;
    background-color: #1F456E;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px 5px; /* Add margin to the button */
    text-align: center;
}

.add-men-btn {
    padding: 8px 12px;
    height: 50px;
    background-color: #1F456E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 5px; /* Add margin to the button */
    text-align: center;
}

.input-restaurant-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 30px;
    background-color: lightgrey;
    max-width: 600px;
    margin: 0 auto;
}

.input-restaurant-details input[type="text"],
.input-restaurant-details input[type="number"] {
    padding: 10px;
    width: 500px;
    height: 50px;
    margin-bottom: 10px; /* Add spacing between input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; 
    margin-bottom: 10px;
}


.menu-item input[type="text"],
.menu-item input[type="number"] {
    width: calc(50% - 5px); /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
