<div class="search-page">
    <div class="search-bar">
        <input type="text" placeholder="I alone am the honored one...">
        <button>Search</button>
    </div>
    <h2>Recommended Restaurants Nearby!</h2>
    <ul>
        <li *ngFor="let restaurant of restaurants">
            <a>
                <img src="{{restaurant.imageURL}}" alt="">
                <div class="content">
                    <div class="name">
                        {{restaurant.name}}
                    </div>
                    <span class="favorite {{restaurant.favorite?'':'not'}}">
                        ♥
                    </span>
                    <div class="rating">
                        Rating: {{restaurant.stars}} / 5
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>