.banner
{
    background-image: url('../../assets/images/Decoration/backgroundimage.jpg');
    height: 590px;
    background-position: center top;
    background-size: cover;

}

.content{
    top:30%;
    left:10%;
    position:absolute;
    
}
.content h1{
    color: white;
    font-size: 45px;
    font-weight: bold;
   
} 
.content a
{
    text-decoration: none;
    background-color: #fff;
    color: var(--secondary-color);
    padding:8px 12px;


}

.routes{
    margin-bottom: 30px;
}